.scrollBlockContainer{width:1340px;position: relative;max-height: 660px;margin-right: 30px;overflow: auto;padding-right: 45px}
.hiddenScroll{overflow: hidden;width:1310px}


.scroller {
    height: 100%;
    overflow-y: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.scroller::-webkit-scrollbar {
    width: 0;
}

.scroller__content {
    position: relative;
    padding-right: 30px;
    overflow: hidden;
}

.scroller__bar-wrapper {
    position: absolute;
    z-index: 2;
    top: 5px;
    bottom: 5px;
    right: 5px;
    width: 8px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    opacity: 0;
}

.scroller__bar {
    position: absolute;
    z-index: 1;
    width: 10px;
    border-radius: 3px;
    background-color: rgba(63, 63, 63, 0.5);

    -webkit-transition: opacity 0.2s linear 0s;
    -moz-transition: opacity 0.2s linear 0s;
    -o-transition: opacity 0.2s linear 0s;
    transition: opacity 0.2s linear 0s;
    pointer-events: auto;
    opacity: 0;
}

.baron:hover .scroller__bar-wrapper {
    opacity: 1;
}

.baron:hover .scroller__bar {
    opacity: 1;
}